.DS_Store
*.o
AssemblyScript/node_modules/
AssemblyScript/build/
Grain/target
Rust/target/*
!Rust/target/wasm32-wasi/
Rust/target/wasm32-wasi/*
!Rust/target/wasm32-wasi/debug
Rust/target/wasm32-wasi/debug/*
!Rust/target/wasm32-wasi/debug/main.wasm
Zig/zig-cache
